.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.section__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $litle-text-color;
}
.section__background {
  background: #f5f4fa;
}
.section__title {
  color: $litle-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
